/* RELATIVE UNIT (em) */
.box-em {
  font-size: 30px;
  background-color: pink;
}

.box-em h1 {
  /* h1 ukurannya 30px karena 1em = ukuran dari font yang sedang digunakan oleh elemen tersebut */
  font-size: 1em;
}

.box-em p {
  /* p ukurannya 60px karena 2em = ukuran dari font yang sedang dugunakan * 2 */
  font-size: 2em;
}


/* RELATIVE UNIT (rem) */
html {
  font-size: 50px;
}

.box-rem {
  font-size: 30px;
  background-color: plum;
}

.box-rem h1 {
  /* h1 ukurannya 50px karena 1rem = ukuran dari font root nya <html> */
  font-size: 1rem;
}

.box-rem p {
  /* p ukurannya 100px karena 2rem = ukuran dari font rootnya <html> * 2 */
  font-size: 2rem;
}


/* RELATIVE UNIT (ch) */
/* 
digunakan untuk membuat sebuah placeholder untuk tempat yang belum tau isinya. 
misalkan isinya diambil dari database, atau input dari user dan 
ingin memastikan bahwa elemen ini ukurannya ga lebih dari 100 karakter (misalnya)
*/
.box-ch {
  /* karena menggunakan font-family: Georgia (serif) dimana setiap huruf memiliki lebar yang berbeda, maka yang di ambil adalah karakter '0'. */
  /* maka, lebar boxnya adalah lebar karakter '0' * 60 atau ukurannya adalah 60 karakter 0 untuk font 'Georgia' */
  font-family: Georgia;
  font-size: 20px;
  width: 60ch;
  background-color: lightblue;
}


/* RELATIVE UNIT (vh&vw) */
/* digunakan untuk membuat website responsive di semua device */
.box-vhvw {
  background-color: lightsalmon;
  /* 100% dari tinggi Viewport */
  /* membuka website pada device apapun (hp, tablet, pc, atau laptop). elemen ini tingginya akan memenuhi layar yang sedang dilihat */
  height: 100vh;
  /* 50% dari lebar Viewport */
  /* membuka website pada device apapun (hp, tablet, pc, atau laptop). elemen ini lebarnya akan 50% dari layar yang sedang dilihat */
  width: 50vw;
}